<%= javascript_include_tag 'posts/form', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'posts/form', media: 'all', 'data-turbolinks-track' => true %>

<main class="mdl-layout__content custom-body-layout">
  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label display-block width-800">
      <%= f.text_field :title, :class => "mdl-textfield__input" %>
      <%= f.label :title, :class => "mdl-textfield__label" %>
    </div>
    <div id="new-post-editor" class="mdl-textfield mdl-js-textfield width-800">
      <%= f.text_area :body, :placeholder => "Enter your posts", :class => "width-800 height-400",
        editor_options: {
          alert_unsaved: true,
          image: false
        }
        %>
    </div>
    <div>
      <button id="new-post-submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Save</button>

    </div>
  <% end %>

</main>
